<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AVRLoggerReceiver.receiverSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AVRLoggerReceiver.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AVRLoggerReceiver.receiverSettings>
            <setting name="GraphPoints" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
        </AVRLoggerReceiver.receiverSettings>
        <AVRLoggerReceiver.Settings>
            <setting name="GraphPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileType" serializeAs="String">
                <value>0</value>
            </setting>
        </AVRLoggerReceiver.Settings>
    </userSettings>
</configuration>